@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --defaultWhiteColor: #ffffff;
    --blueDark: #363f7f;
    --blueLight: #5e6ccf;
    --textYellow: #dabe2b;
    --Yellow: #FFD700;
    --black:#000000;
    --skyBlueDark:#384ce8;
    --parrotGreen:#89f360;
    --Grey:#bababa;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
}

@layer components {
  .common_background {
    @apply bg-gradient-to-r from-BlueDark to-BlueLight rounded-2xl
  }
  .common_container{
    @apply w-95 mx-auto
  }
  .yellow_gradient{
    @apply bg-[linear-gradient(to_bottom,#FFD700_20%,#FFF8DC_50%,#FFD700_80%)]
  }
}
.ant-select-outlined:not(.ant-select-customize-input) .ant-select-selector{
  @apply  bg-Transparent text-White h-10 border-2
}
.ant-select .ant-select-arrow {
  @apply top-[63%]
}